doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Hello World

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h1 LEMAK
        <img src="images/Picture1.jpg">

      section
        h2 PROJECT TKPPL
        <img src="images/mikroskil.jpg">
        p. Di Susun Oleh:


        h4 M. REZA FAHLEVI PULUNGAN (131113221)
        h4 HERMAN SAPUTRA HASIBUAN (131113557)
        h4 HANDRI HARDANU (131112501)
        h4 ELSA NOVITA MAYASARI (131111751)

      section
        h2 DEFINISI DAN SUSUNAN KIMIA LEMAK
        h4 Lemak merupakan sumber energi bagi tubuh. Besarnya energi yang dihasilkan per gram lemak adalah lebih besar dari energi yang dihasilkan oleh 1 gram karbohidrat atau 1 gram protein. 1 gram lemak menghasilkan 9 kalori (kal).


      section
        h2 SUSUNAN KIMIA LEMAK
        h4 Asam lemak memiliki rantai panjang atom C, yang biasanya jumlahnya berkisar antara 14-24 atom karbon. Semakin panjang rantai atom C, lipid akan semakin mudah membeku dan semakin sukar larut dalam air.
        Asam lemak dibedakan menjadi asam lemak jenuh dan asam lemak tidak jenuh.
        <img src="images/Picture2.jpg">
 

      section
        h2 FUNGSI LEMAK
        ul
          li Sebagai penghasil energi
          li Sebagai pembangun/pembentuk susunan tubuh
          li Pelindung kehilangan panas tubuh
          li Sebagai penghasil asam lemak essensial
          li Sebagai pelarut vitamin A, D, E, dan K

      section
        h2 LEMAK BERDASARKAN SUMBER
     
         h4 LEMAK NABATI 
          <img src="images/nabati.jpg" width=150px>

         h4 LEMAK HEWANI
          <img src="images/hewani.jpg" width=150px>

      section
        h2 LEMAK BERDASARKAN IKATAN RANGKAP
         
        h4.jen LEMAK JENUH
          <img src="images/jenuh.jpg" width=150px>
        h4.jen LEMAKTAK JENUH
          <img src="images/takjenuh.jpg" width=150px>

      section 
        h2 KLASIFIKASI LEMAK BERDASARKAN STRUKTUR
        ul 
        li Lemak Sederhana
        li Lemak Majemuk
        li Lemak Turunan

      section
        h2 KLASIFIKASI LEMAK BERDASARKAN SIFAT
        ul
        li Lemak yang dapat disaponifikasi (Saponifikasilipids) dan lemak yang tidak dapat disaponifikasi


      section
        h2 ASAM LEMAK TAK JENUH
        
        p. Asam lemak tak jenuh merupakanasam lemak yang mengandung satuikatan rangkap pada rantaihidrokarbonnya . Asam lemak tak jenuh (asam lemak essential) antara lain asam linoleat, asam linolenat danasam arakhidonat

      section
        h2 KEBUTUHAN LEMAK

        p. Lemak merupakan zat gizi pada energi,nilai kalorinya 9 Kalori setiap gram lemak.Di dalam hidangan sebaiknya dari jumlahkalori total, sebesar 15-20 persen berasaldari lemak, sehingga kebutuhan akanlemak dapat dihitung tegas, karenakebutuhan energi yang berasal dari lemakmencapai 30-40 persen dari kalori total.

      section
        h2 DAMPAK KEKURANGAN & KELEBIHAN LEMAK
        ul
        h4.lemak KEKURANGAN LEMAK
          li Tubuh kurus
          li Pertumbuhan menurun 
          li Kegagalan reproduktif, perubahan kulit dan rambut, serta  patologi hati.
          li Penurunan kemampuan belajar
          li Penglihatan rusak
          li Polidipsia
        h4.samping KELEBIHAN LEMAK
          li Kegemukan
          li Penyumbatan pembuluh darah yg menyebabkan kolesterol tinggi, menimbulkanpenyakit hipertensi, penyakit jantung koroner dan stroke    
      section
        h2.jawab TERIMA KASIH
          <img src="images/jawab.jpg">

      
         



    script(src='build/build.js')